<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Montserrat:300normal");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:600normal");
$fontFamily: "Montserrat", sans-serif;
$logoFontFamily: "Libre Franklin", sans-serif;
=======
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400normal");
@import url("https://fonts.googleapis.com/css?family=Merriweather:700normal");
$fontFamily: "Open Sans", sans-serif;
$logoFontFamily: "Merriweather", serif;
>>>>>>> a9becd7228f385ea1ec674c39b9d565c99be86dc
