<<<<<<< HEAD
$primaryColor: #475cc7;
$secondaryColor: #24313b;
$textColor: #000;
$linkColor: #475cc7;
$headerColor: #8089ac;
=======
$primaryColor: #db259c;
$secondaryColor: #fff;
$textColor: #000;
$linkColor: #db259c;
$headerColor: #292929;
>>>>>>> a9becd7228f385ea1ec674c39b9d565c99be86dc
$defaultHeaderColor: $primaryColor;
$heroBanner: "../../../assets/images/temp/header_bg.png";
