<article id="tm-products-smart-box"> 
    <div id="toc-tm-products-smart-box" class="toc-id"></div>
    <h3 id="tm-products-smart-box"><?php _e( 'TM Products Smart Box' ); ?></h3>

    <p><?php _e( 'This widget displays the featured products from the particular categories offering the customers some extra products they might want to purchase as well' ); ?></p>
    
<?php assets_manager()->get_image( 'assets/images/widgets/temp/tm-smartbox.png', 'img-polaroid' ); ?>

    <ul class="marked-list">
        <li>
            <dl class="inline-term">
                <dt> <?php _e( 'Title' ); ?></dt>
                <dd>
                    <?php _e( 'This property specifies the title of the widget' ); ?>
                </dd>
            </dl>
        </li>
        <li>
            <dl class="inline-term">
                <dt><?php _e( 'Number of products to show' ); ?></dt>
                <dd>
                    <?php _e( 'Specify the number of featured products that will be displayed' ); ?>
                </dd>
            </dl>
        </li>
        <li>
            <dl class="inline-term">
                <dt><?php _e( 'Order by' ); ?></dt>
                <dd>
                    <?php _e( 'Specify the way you want the products inside the widget to be ordered' ); ?>
                </dd>
            </dl>
        </li>
         <li>
            <dl class="inline-term">
                <dt><?php _e( 'Order' ); ?></dt>
                <dd>
                    <?php _e( 'This property allows you to switch between descending and ascending order' ); ?>
                </dd>
            </dl>
        </li>
        <li>
            <dl class="inline-term">
                <dt><?php _e( 'Hide free products' ); ?></dt>
                <dd>
                    <?php _e( 'Hide/show free products' ); ?>
                </dd>
            </dl>
        </li>
         <li>
            <dl class="inline-term">
                <dt><?php _e( 'Show hidden products' ); ?></dt>
                <dd>
                    <?php _e( 'Hide/show hidden products' ); ?>
                </dd>
            </dl>
        </li>
        <li>
            <dl class="inline-term">
                <dt><?php _e( 'Filter by category' ); ?></dt>
                <dd>
                    <?php _e( 'Choose the category the products will be filtered by' ); ?>
                </dd>
            </dl>
        </li>
    </ul>
   </article>